.parsley-errors-list {
    color: red;
    list-style-type: none;
    padding: 0;
}

.choices {
    margin-bottom: 0 !important;
}

/* table */
.table thead th {
    background-color: #1071BA !important;
    border-color: #fff;
    color: white;
}

.table {
    width: 100%;
}

/* table */

/* loading */
.loader {
    margin-right: auto;
    margin-left: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1071BA;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 35px !important;
}